.job-row{
    background: #FFFFFF;
    border: 1px solid #D4D2D0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 18px;
    margin: 0px 0 16px 0;
}

.job-row .job-item {
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 150%;
    color: #2D2D2D;
}

.job-row .job-location {
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 150%;
    color: #949494;
}

