.listings-title {
    display: flex;
    align-items: flex-end;
    font-family: Noto Sans, Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    margin-top: 80px;
}

.listings-title h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
    color: #2D2D2D;
    margin-right: 8px;
    display: inline;
}

.listings-title p {
    font-size: 14px;
    line-height: 200%;
    color: #949494;
    display: inline;
}

