body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

main, header {
  margin: 0 auto;
}

@media (min-width: 320px) {
  main, header {
    max-width: 310px;
  }
}

@media (min-width: 425px) {
  main, header {
    max-width: 400px;
  }
}

@media (min-width: 576px) {
  main, header {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  main, header {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  main, header {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  main, header {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  main, header {
    max-width: 1320px;
  }
}

.btn-primary { 
  padding: 13px 16px;
  background: #085FF7;
  border-radius: 8px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 112.5%;
  color: #FFFFFF;
  border-style: none;
}

.job-grid {
  display: grid;
  grid-template-columns: 40% 15% 18% 15% auto;
}

#title-col-head {
  grid-column: 1 / 2;
}